form{

	legend{
		font-size: 30px;
		margin-bottom: var(--margin);
	}
	
	fieldset{
		padding: 0;
		border: 0;
		display: grid;
		grid-row-gap: calc(var(--gap) + 8px);
		
		&:disabled{
			display: none;
		}
	}
	
	.field{
		position: relative;
	}
	
	label{
		display: block;
		font-weight: 800;
		margin-bottom: var(--margin-sm);
	}
	
	input[type="text"],
	[type="email"],
	[type="password"],
	[type="tel"],
	[type="date"],
	[type="number"],
	[type="url"]{
		font-family: inherit;
      font-size: inherit;
		color: inherit;
		background: none;
		margin: 0;
		width: 100%;
		height: 50px;
		padding: 0 15px;
		border: 1px solid #000;
	}
	
	textarea{
		font-family: inherit;
		appearance: none;
		font-size: inherit;
		color: inherit;
		background: none;
		margin: 0;
		width: 100%;
		min-height: 160px;
		padding: 15px 0 15px 15px;
		border: 1px solid #000;
		resize: vertical;
	}
	
	.radio,
	.checkbox{
		ul{
			display: grid;
			grid-gap: 10px;
		}
		input{
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}
		input + label{
			font-size: var(--font-size-sm);
			cursor: pointer;
			display: flex;
			align-items: center;
			margin: 0;
			border: 1px solid rgba(0,0,0,0);
			height: 20px;
			font-weight: 400;
			
			&:before{
				content: "";
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #000;
				margin-right: 10px;
			}
		}
		input.error + label{
			&:before{
				border: 1px solid var(--color-error);
			}
		}
		input:focus + label{
			&:before{
				border: 1px dashed #000;
			}
		}
	}
	
	.radio{
		input + label{
			&:before{
				width: 16px;
				height: 16px;
				border-radius: 50%;
			}
		}
		input:checked + label{
			&:before{
				background: #000;
				background: radial-gradient(circle, #000 30%, #fff 20%);
			}
		}
	}
	
	.checkbox{
		input + label{
			&:before{
				width: 18px;
				height: 18px;
			}
		}
		input:checked + label{
			&:before{
				content: "✓";
			}
		}
	}

	select{
		appearance: none;
		font-size: inherit;
		height: 40px;
		padding: 0 60px 0 20px;
		outline: none;
		width: 100%;
		max-width: 250px;
		border-radius: 0;
		background: transparent url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-128.png) no-repeat right 5px center;
		background-size: auto 80%;
		border: 1px solid #000000;
		margin: 0;

		option{
			 color: var(--color-text);
			font-weight: 400;
		}
		&:invalid{
			/*color: var(--color-gray);*/
		}
		&:-moz-focusring, 
      &::-moz-focus-inner{
			outline: none;
			color: transparent !important;
			text-shadow: 0 0 0 #000 !important;
      }    
		&::-ms-expand {
      	display: none;
    	}
	}

	input[type="submit"],
	button{
		height: 40px;
		padding: 0 20px;
		border: none;
		cursor: pointer;
	}
	
	.action{
		margin-top: var(--margin-lg);
		display: flex;
		justify-content: space-between;
	}

	&:disabled {
      opacity: 0.5;
      pointer-events: none;
   }
	
	.field-error-msg{
		color: var(--color-error);
		font-style: italic;
		font-size: 13px;
		margin-top: 4px;
		position: absolute;
		top: 100%;
      left: 0;
	}
	
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-text-fill-color: inherit;
		-webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
		box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
		background-color: rgba(255, 255, 255, 0);
		transition: background-color 5000s ease-in-out 0s;
	}
	
	input,
	select,
	button,
	textarea{
		box-sizing: border-box;
		
		&:focus{
			outline: none;
			border: 1px dashed var(--color-focus)!important;
		}
		&.error:not(:focus){
			 border: 1px solid var(--color-error)!important;
			 color: var(--color-error);
		}
	}
	
	input:invalid,
	select{
		color: var(--color-gray);
	}
	.error:not(:focus):invalid{
		color: var(--color-error);
	}
	
	::placeholder {
		font-style: normal;
		font-family: inherit;
		opacity: 1;
		font-weight: 300;
		color: var(--color-gray);
		font-size: inherit;
	}
	.error:not(:focus)::placeholder {
		color: var(--color-error);
	}
}